<p>The onReady function, Turbolinks style.</p>
<pre>
  <code>
    $(document).on('page:change', function() {
      //Do stuff here...
    });
  </code>
</pre>
<p>This is another cool function</p>
<pre>
  <code>
    function foo(variable){
      return variable;
    }
  </code>
</pre>