%div.foundation
  %div.alert-success
    This is a sample success alert.<a href="" class="close">&times;</a>
    
  %div.alert-success-radius
    This is a sample success alert with rounded corners.<a href="" class="close">&times;</a>
    
  %div.alert-success-round
    This is a sample success alert with rounded.<a href="" class="close">&times;</a>
    
  %div.alert-warning
    This is a sample warning alert.<a href="" class="close">&times;</a>
    
  %div.alert-warning-radius
    This is a sample warning alert with rounded corners.<a href="" class="close">&times;</a>
    
  %div.alert-warning-round
    This is a sample primary alert with rounded.<a href="" class="close">&times;</a>
    
  %div.alert-danger
    This is a sample danger alert.<a href="" class="close">&times;</a>
    
  %div.alert-danger-radius
    This is a sample danger alert with rounded corners.<a href="" class="close">&times;</a>
    
  %div.alert-danger-round
    This is a sample primary alert with rounded.<a href="" class="close">&times;</a>
    
  %div.alert-default
    This is a sample primary alert.<a href="" class="close">&times;</a>
    
  %div.alert-default-radius
    This is a sample primary alert with rounded corners.<a href="" class="close">&times;</a>
    
  %div.alert-default-round
    This is a sample primary alert with rounded.<a href="" class="close">&times;</a>
    
  %div.alert-info
    This is a sample info alert.<a href="" class="close">&times;</a>
    
  %div.alert-info-radius
    This is a sample info alert with rounded corners.<a href="" class="close">&times;</a>
    
  %div.alert-info-round
    This is a sample info alert with rounded.<a href="" class="close">&times;</a>
    
  %div.alert-secondary
    This is a sample info alert.<a href="" class="close">&times;</a>
    
  %div.alert-secondary-radius
    This is a sample info alert with rounded corners.<a href="" class="close">&times;</a>
    
  %div.alert-secondary-round
    This is a sample info alert with rounded.<a href="" class="close">&times;</a>