%div.help
  %p There are many technologies used on this project. The platform runs on top of Ruby on Rails, it includes SASS, Color Me SASS, Compass, Bootstrap, jQuery, and a host of 
  other feature providing libraries. This page has been developed to be a jumping off point for reference material concerning these technologies.
  %h2 Technologies Used
  %ul
    %li Ruby 1.9.3 - <a href="http://www.ruby-doc.org/core-1.9.3/">Core</a> | <a href="http://www.ruby-doc.org/stdlib-1.9.3/">Standard Library</a>
    %li Ruby On Rails - <a href="http://api.rubyonrails.org/">API Documentation</a> | <a href="http://guides.rubyonrails.org/">Guides</a>
    %li HAML - <a href="http://haml.info/">Documentation</a>
    %li SASS - <a href="http://sass-lang.com/">Documentation</a>
    %li Twitter Bootstrap - <a href="http://getbootstrap.com/">API Documentation</a> | <a href="http://github.com/twbs/bootstrap-sass">SASS Gem Project</a>
    %li Color Me SASS - <a href="http://richbray.me/cms/">Website</a> | <a href="/help/colors">Local Help</a>
    %li Compass - <a href="http://compass-style.org/reference/compass/">Documentation</a>
    %li jQuery - <a href="http://api.jquery.com/">API Documentation</a>
    %li jQuery UI - <a href="http://api.jqueryui.com/">API Documentation</a>
    %li jQuery Mobile - <a href="http://api.jquerymobile.com/">API Documentation</a>
    %li Markup Preview - <a href="/help/markup">View Example</a>
    
  %h2 Helpful Snippets
  &=render 'snippets'